<%= form_for(@discussion) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
<!--   <div class="field">
    <%= f.label :drawover %><br>
    <%= f.text_area :drawover %>
  </div> -->

  <div><%= f.hidden_field :post_id, value: @post.id %></div>

  <div class="actions">
    <%= f.submit @discussion.new_record? ? "Comment!" : "Change my Post" %>
  </div>
<% end %>
