<p id="notice"><%= notice %></p>

<p>
  <strong>Username Goes Here</strong>
  <%= @discussion.comment %>
</p>

<!-- <p>
  <strong>Drawover:</strong>
  <%= @discussion.drawover %>
</p> -->

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
