<h1>Your Projects</h1>

<%= link_to 'New Project', new_project_path %>

<hr />

  <% @projects.each do |p| %>

    <div><h2><%= link_to p.p_title, p %></h2></div>

    <div><i>Blank?:</i> <%= p.p_default %></div>

    <br>

    <div><%= p.p_description %></div>

    <br>

    <div>
      <%= link_to 'Edit', edit_project_path(p) %> |
      <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <hr />

  <% end %>
